<div class="bg-baseWhite w-full h-screen flex items-center justify-center">
    <div>
        <app-title title="LOGIN" class="mb-3" />

        <app-input text="Username" [control]="loginForm.controls.username" />
        @if (loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)) {
            @if (loginForm.controls.username.errors?.['minlength'] || loginForm.controls.username.errors?.['required']) {
                <app-input-error text="Username must be at least 1 character long." />
            }
        }

        <app-input text="Password" [control]="loginForm.controls.password" type="password" />
        @if (loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)) {
            @if (loginForm.controls.password.errors?.['minlength'] || loginForm.controls.password.errors?.['required']) {
                <app-input-error text="Password must be at least 1 character long." class="mb-3" />
            }
        }

        <app-link  text="Not have an account yet?" path="/signup" class="mb-1" />
        
        <app-button text="Login" (buttonClicked)="onLoginButtonClicked()" />
    </div>
</div>