<div class="bg-lightGray w-full h-screen flex items-center justify-center">
    @if (isLoading) {
        <div class="absolute inset-0 bg-baseBlack bg-opacity-40 flex items-center justify-center z-50">
            <app-loading />
        </div>
    }

    <div>
        <div class="flex justify-center">
            <div class="flex justify-between w-[800px] mb-4">
                <p class="inline-block font-apercu text-3xl font-semibold text-baseBlack">{{ theme }}</p>
                <p class="inline-block font-apercu text-3xl font-semibold text-baseBlack">{{ time }}</p>
            </div>
        </div>
        
        <div>
            <app-drawing-canvas />
        </div>
    </div>
</div>